*{
    top:0px;
    left:0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0px;
    flex-direction: column;
}
